#navbarForm {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
}

#searchDropdownBox {
  font-family: "Amazon Ember", Arial, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  width: 15%;
  border: 1px solid rgba(0, 0, 0, 0.273);
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  background-color: rgba(248, 244, 244, 0.912);
}
#navbarInput {
  font-family: "Amazon Ember", Arial, sans-serif;
  border: 1px solid rgba(0, 0, 0, 0.273);
  border-right: none;
  border-left: none;
}
#search-Btn {
  font-weight: 500;
  font-size: 1rem;
  padding: 8px;
  width: 10%;
  border: 1px solid rgba(0, 0, 0, 0.273);
  border-left: none;
  cursor: pointer;
  color: rgb(5, 4, 4);
  background: #fbba50;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 5%;
}
#search-Btn:hover {
  background-color: #c27d0ddc;
}
